<header>
  <div class="tapeNav">
    <div class="tapeNum">
      <!-- put number of tape in here -->
      <input class="tapeNumSel" type="number" name="" value="750">
      <input class="tapeYearSel" type="number" name="" value="1980">
    </div>
    <div class="tapeList">
      <!-- put adjascent tapes here -->
      <div class="scroll">
        <div class="tapeInList">
          {% for tape in site.tapes %}
          {% include tape.html%}
            <div class="tapeWords">
              <div class="num">{{ tape.number }}</div>
              <div>
                Nice Tapes
              </div>
            </div>
          {% endfor %}
        </div>
      </div>




    </div>
  </div>
  <div class="yearNav">
    <div class="1980">
      1980
    </div>
    <input class="navigation" type="range" name="" value="">
    <div class="currentYear">

    </div>
    <!-- put year navigation here -->
  </div>

  <div class="yearNav2">

    <input class="navigation" type="range" name="" value="">
    <div class="yearBox">
      <div class="1980">
        1980
      </div>
      <div class="currentYear">
        2021
      </div>
    </div>
    <!-- put year navigation here -->
  </div>
</header>
