<div class="packageLayer">
  <img class="package" src="assets/images/mail-package.jpg" alt="">

  <div class="adBox">
    <div class="nameAndPassword">
      <input type="text" name="Name" value="NAME">
      <input type="text" name="Address" value="ADDRESS">
      <input type="text" name="City" value="CITY, STATE, ZIP">
      <div class="">
        <input class="password" type="text" name="Password" value="PASSWORD">
        <button class="submit" type="button" name="button">Submit</button>
      </div>
    </div>

    <div class="houseOfDub">
      House of Dub <br>
      224 Main St. <br>
      Binghamton, NY
    </div>

    <img class="marley" src="assets/images/Natural-mystic.png" alt="">
  </div>



</div>
