body{
  background-color: black;
  color: white;
  font-family: authentic;
  font-size: 10vh;

  overflow: hidden;

}

canvas[resize]{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  pointer-events: none;
  background-color: none;
  width: 100%;
  height: 100%;
}

div.mainContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
